body {
    font-family: 'Nunito', sans-serif;
}

.content {
    max-width: 800px;
    margin: auto;
}

.left {
    float: left;
    padding: 15px;
    background: white;
}

.cvphoto {
    padding: 15px;
    background: white;
}

h2 {
    color: rgb(200, 10, 10);
}

table,
th,
td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}