* {
    margin: 0;
}

.menu-container {
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    background-color: aliceblue;
}

.picmenu {
    width: 50%;
    padding: 5vh;
    /* text-align: center; */
    background-color: antiquewhite;
}

.picmenu img {
    width: 100%;
}

.optionmain {
    width: 50%;
    font-size: large;
    padding: 2vw;
    padding-top: 3vw;
}

.form-check-input {
    margin-left: 2vw;
    margin-right: 0.5vw;
    margin-top: 1.5vh;

}

.dropdown:hover {
    cursor: pointer;
}

.bt {
    width: 6vw;
    border-radius: 50px;
    background-color: aqua;
    text-align: center;
    left: 50%;
    border-style: none;
    padding: 5px;
    cursor: pointer;
}

.bt:hover {
    background-color: antiquewhite;
}

#add {
    width: fit-content;
    margin-top: 2vh;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 620px) {
    .menu-container {
        width: 90%;
        /* margin-left: auto;
        margin-right: auto; */
        /* position: absolute; */
        display: contents;
    }

    .picmenu {
        position: relative;
        width: 90%;
        padding: 5%;
        /* text-align: center; */
    }

    .optionmain {
        position: relative;
        width: 90%;
    }


    * {
        scrollbar-width: none;
    }



}