body {
    margin: 0px;
    background-color: rgb(255, 223, 228);

    /* overflow-y: hidden; */
    overflow-x: hidden;
}

iframe {
    position: absolute;
    width: 100%;
    height: 700px;
    padding-bottom: 10%;
}

/* .banner {
    position: relative;
    background-color: beige;
    width: 100%;
    height: 50%;

} */

h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 30;
    font-weight: 500;
    color: rgb(255, 0, 0);
    margin: 10%;
    text-align: center;

}

#bg {
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/004/934/299/small_2x/elegant-banner-with-colorful-blooming-rose-flower-ornament-free-vector.jpg);

}

h2 {
    color: #00f;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: pink;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding-top: 5px;
}